@model ModernRecrut.MVC.Models.Postulation

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer</h1>

<h3>Voulez vous supprimer cette postulation?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCandidat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCandidat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffreDEmploiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffreDEmploiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PretentionSalariale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PretentionSalariale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDisponibilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDisponibilite)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="ListePostulations">Retour à la liste des postulations</a>
    </form>
</div>
